# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example
*.local

# Build
dist/
dist-ssr/
**/build/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# Logs
logs/
*.log

# Video / Media / HLS
**/hls/
**/recordings/
**/snapshots/
**/clips/
**/runtime/
**/hls/**/*.ts
**/recordings/**/*.ts
**/runtime/**/*.ts
**/*.m3u8
**/*.mp4

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp
tmp/
temp/

# Native builds
**/*.exe
**/*.dll
**/*.pdb
**/*.obj
**/*.ilk
**/*.tlog
**/*.lib

# AI Models
*.onnx
*.pt

# Archives
*.zip
